<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <a href="#" (click)="back()"><i class="nb-arrow-thin-left"></i></a>
      </nb-card-header>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
            <div style="text-align: center">
                <span (click)="CheckAppUrl($event)">　</span>
            </div>
            <h2 class="title" translate>{{i18n+'.Sign_Title'}}</h2>
            <small class="form-text sub-title"></small>
        
            <form [formGroup]="formGroup" autocomplete="nope">
        
                <div class="form-group">
                    <label for="input-email" class="sr-only" translate>{{i18n+'.Login_Name'}}</label>
                    <input name="email" formControlName="loginName" id="input-email" class="form-control" placeholder="{{i18n+'.placeholder_loginName' | translate}}"
                        autofocus>
                </div>
        
                <div class="form-group">
                    <label for="input-password" class="sr-only" translate>{{i18n+'.Password'}}</label>
                    <input name="passWord" formControlName="passWord" type="password" id="input-password" class="form-control" placeholder="{{i18n+'.placeholder_passWord'|translate}}">
                </div>
        
                <div class="form-group accept-group col-sm-12">
                    <nb-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="rememberPwd">{{i18n+'.Remember_Pwd'|translate}}</nb-checkbox>
                    <a class="forgot-password" routerLink="../request-password" translate>{{i18n+'.Forgot_Password'}}</a>
                </div>
        
                <button (click)="login()" class="btn btn-block btn-hero-success" [class.btn-pulse]="submitted">
                    {{i18n+'.Login_Btn'|translate}}
                </button>
            </form>

        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>